In [1]:
!git clone https://github.com/SDM-TIB/Traverse_KG_Treatment.git

Cloning into 'Traverse_KG_Treatment'...
remote: Enumerating objects: 166, done.
remote: Counting objects: 100% (166/166), done.
remote: Compressing objects: 100% (105/105), done.
remote: Total 166 (delta 85), reused 140 (delta 59), pack-reused 0
Receiving objects: 100% (166/166), 2.57 MiB | 9.66 MiB/s, done.
Resolving deltas: 100% (85/85), done.

In [1]:
%%capture 
!pip install rdflib
!pip install seaborn
!pip install pykeen
from pkg_resources import require
require('pykeen')

In [2]:
%cd /content/Traverse_KG_Treatment/

/content/Traverse_KG_Treatment

In [3]:
import pandas as pd
from rdflib import Graph
from rdflib.plugins.sparql.processor import SPARQLResult

import matplotlib.pyplot as plt
import matplotlib.colors as mcolors
import seaborn as sns
import Auxiliary

In [4]:
path = 'KG/V4/'

g1 = Graph()
g1.parse(path + "G1/train_1.ttl", format="ttl")

g2 = Graph()
g2.parse(path + "G2/train_1.ttl", format="ttl")

In [5]:
df = pd.read_csv(path + 'G1/train_1.ttl', delimiter='\t', header=None)
df['3'] = '.'
display(df.shape, df.head(2))
df.to_csv('train_1.ttl', index=None, header=None)

(5520, 4)

                                       0                1              2  3
0  <http://example/Treatment/treatment0>     ex:belong_to  ex:low_effect  .
1  <http://example/Treatment/treatment0>  ex:no_belong_to   ex:effective  .

In [5]:
def query_treatment_ddi_plot(treatement_list):
    query = """
    PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
    PREFIX ex: <http://example/> 

    select distinct ?treatment  (count(?ddi) as ?count_ddi)
    where {
        optional {?treatment ex:hasInteraction ?ddi .}
        FILTER (?treatment in ("""+treatement_list+"""))
        }
        GROUP BY ?treatment
        # ORDER BY desc(?count_ddi)
        """
    return query


def sparql_results_to_df(results: SPARQLResult) -> pd.DataFrame:
    """
    Export results from an rdflib SPARQL query into a `pandas.DataFrame`,
    using Python types. See https://github.com/RDFLib/rdflib/issues/1179.
    """
    return pd.DataFrame(
        data=([None if x is None else x.toPython() for x in row] for row in results),
        columns=[str(x) for x in results.vars],
    )

In [20]:
def get_treatment_ddi(response, path, g1, g2):
  df = pd.read_csv(path + 'G1/test_1.ttl', delimiter='\t', header=None)
  low_effect = list(df.loc[df[2]==response][0].values)
  query = query_treatment_ddi_plot(','.join(low_effect))  # 'ex:low_effect'

  qres = g1.query(query)
  df_g1 = sparql_results_to_df(qres)
  qres = g2.query(query)
  df_g2 = sparql_results_to_df(qres)

  df_g1['KG2'] = 0
  for i in range(df_g1.shape[0]):
    t = df_g1.iloc[i]['treatment']
    df_g1.at[i, 'KG2'] = df_g2.loc[df_g2.treatment==t].count_ddi.values[0]

  return df_g1

In [24]:
df_g1 = get_treatment_ddi('ex:low_effect', path, g1, g2)
df_g1.to_csv(path + 'treatment_low_effect.csv', index=None)
df_g1

                                treatment  count_ddi  KG2
0     http://example/Treatment/treatment4         14   23
1     http://example/Treatment/treatment6         13   27
2    http://example/Treatment/treatment75          4    5
3   http://example/Treatment/treatment101          4    4
4   http://example/Treatment/treatment122          5    6
..                                    ...        ...  ...
61  http://example/Treatment/treatment391          1    1
62  http://example/Treatment/treatment398          1    1
63  http://example/Treatment/treatment289          1    1
64  http://example/Treatment/treatment330          1    1
65  http://example/Treatment/treatment346          1    1

[66 rows x 3 columns]

In [25]:
df_g1 = pd.read_csv(path + 'treatment_low_effect.csv')
df_g1

                                treatment  count_ddi  KG2
0     http://example/Treatment/treatment4         14   23
1     http://example/Treatment/treatment6         13   27
2    http://example/Treatment/treatment75          4    5
3   http://example/Treatment/treatment101          4    4
4   http://example/Treatment/treatment122          5    6
..                                    ...        ...  ...
61  http://example/Treatment/treatment391          1    1
62  http://example/Treatment/treatment398          1    1
63  http://example/Treatment/treatment289          1    1
64  http://example/Treatment/treatment330          1    1
65  http://example/Treatment/treatment346          1    1

[66 rows x 3 columns]

In [19]:
t_low_effect = df_g1.loc[df_g1.KG2>df_g1.count_ddi]
t_low_effect

                                treatment  count_ddi  KG2
0     http://example/Treatment/treatment4         14   23
1     http://example/Treatment/treatment6         13   27
2    http://example/Treatment/treatment75          4    5
4   http://example/Treatment/treatment122          5    6
7    http://example/Treatment/treatment13          8   10
12   http://example/Treatment/treatment62          6    9
13   http://example/Treatment/treatment91          2    3
14   http://example/Treatment/treatment97          5    6
15  http://example/Treatment/treatment149          2    3
16   http://example/Treatment/treatment80          7    9
20   http://example/Treatment/treatment36          7   10
25  http://example/Treatment/treatment215          3    4
28   http://example/Treatment/treatment59          5    6
29    http://example/Treatment/treatment8         15   25
30   http://example/Treatment/treatment53         11   12
31   http://example/Treatment/treatment76          7    8
33  http://example/Treatment/treatment317          2    3
47   http://example/Treatment/treatment41          3    5
49   http://example/Treatment/treatment94          4    5
54  http://example/Treatment/treatment306          2    3
55  http://example/Treatment/treatment287          2    3

In [26]:
df_g1 = get_treatment_ddi('ex:effective', path, g1, g2)
df_g1.to_csv(path + 'treatment_effective.csv', index=None)
df_g1

                                treatment  count_ddi  KG2
0   http://example/Treatment/treatment400          7   12
1   http://example/Treatment/treatment416          2    2
2   http://example/Treatment/treatment436          2    2
3   http://example/Treatment/treatment475          3    3
4   http://example/Treatment/treatment444          1    1
5   http://example/Treatment/treatment414          3    3
6   http://example/Treatment/treatment420          7   11
7   http://example/Treatment/treatment470          3    3
8   http://example/Treatment/treatment484          1    1
9   http://example/Treatment/treatment507          1    1
10  http://example/Treatment/treatment445          4    6
11  http://example/Treatment/treatment465          1    1
12  http://example/Treatment/treatment512          1    1
13  http://example/Treatment/treatment411          2    3
14  http://example/Treatment/treatment531          1    1
15  http://example/Treatment/treatment541          1    1
16  http://example/Treatment/treatment502          1    1
17  http://example/Treatment/treatment495          1    1

In [27]:
t_effective = df_g1.loc[df_g1.KG2>df_g1.count_ddi]
t_effective

                                treatment  count_ddi  KG2
0   http://example/Treatment/treatment400          7   12
6   http://example/Treatment/treatment420          7   11
10  http://example/Treatment/treatment445          4    6
13  http://example/Treatment/treatment411          2    3

In [70]:
len(set(list(df_g1.treatment.unique()) + list(df_g2.treatment.unique())))

66

In [14]:
!pip install torch
!pip3 install pickle5
import pickle5 as pickle
import torch

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: torch in /usr/local/lib/python3.7/dist-packages (1.11.0+cu113)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from torch) (4.2.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pickle5 in /usr/local/lib/python3.7/dist-packages (0.0.12)

In [18]:
m = 'TransH'  #RotatE
fold=1


with open(path + 'G1/' + m + str(fold) + '/trained_.pkl', "rb") as fh:
  model = pickle.load(fh)
  # assert torch.load(fh) == 4
  # assert torch.load(fh) == 5
# data.to_pickle(path_to_protocol4)

# model = torch.load(path + 'G1/' + m + str(fold) + '/tensor_2.pkl', map_location='cpu')

#model = torch.load('G/QuatE5/trained_model.pkl', map_location='cpu') #QuatE1
entity_embedding_tensor, relation_embedding_tensor =  Auxiliary.get_learned_embeddings(model)

AttributeError: ignored

In [17]:
with open(path + 'G1/' + m + str(fold) + '/trained_.pkl', "wb") as f:
  # Pickle the 'labeled-data' dictionary using the highest protocol available.
  pickle.dump(model, f, pickle.HIGHEST_PROTOCOL)